.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.arc2 text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc2 path {
  stroke: #fff;
}

div#con{
  width: 700px;
  heigth: 500px;
  margin: auto;
  text-align: center;
}

div#test{
  width: 700px;
  height: 300px;
  margin: auto;
  text-align: center;
}
