.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.arc2 text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc2 path {
  stroke: #fff;
}

div#con{
  width: 1000px;
  heigth: 700px;
  margin: auto;
  text-align: center;
}

div#test{
  width: 1000px;
  height: 700px;
  margin: auto;
  text-align: center;
}
