body {
  font: 10px sans-serif;
}

button {
  position: absolute;
  left: 10px;
  top: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: left;
}
